*{
    
    font-family: 'Poppins', sans-serif;
   
}

.header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px ;
    background: #536265;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
    

}

h3{
    text-decoration: underline black;
    
}


.logo{
    font-size: 30px;
    color: #FFFEFE;
    font-weight: 600;
    transition: 0,3s ease;
    text-decoration: none;
}

.logo:hover{
    color: black;
    text-shadow: 0 0 25px black,
                 0 0 50px black;
    transform: scale(1.1);
}

span{
    color:black;
}

.menu{
    display: flex;
    flex-direction: right;
}

.menu a{
    font-size: 100%;
    color:white;
    font-weight: 500;
    margin: 0 15px;
    text-decoration: none;
    transition: 0.3s ease;
}

.menu a:hover,
.menu a.moreinfo {
    color:black;
    border-bottom: 3px solid black;
} 

.contact{
    padding: 10px 28px;
    background-color: white;
    color: #536265;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3 ease;

}

.contact:hover{
    box-shadow: 0 0 50px burlywood;
    background: burlywood;
}


img{
    padding:10px;
    
}

.photo{
    text-align: center;
  
}


.photo img {
    transition: transform 0.5s linear;
}

.photo img:hover {
    transform: scale(1.5);
}

.skill{
    background:#adbabc;
    padding:10px;
}


.education{
    background: #d8abab;
    padding:10px;
    
}

.hob {
    background:#adbabc;
    padding: 10px;
    
}

.volunteer{
 background:#536265;
 color: white;
 padding: 10px;
}


.lang{
    background:#536265;
    color: white;
    padding: 10px;
 }

 .volunteer h3{
    text-decoration: underline white;
   }
   

   .lang h3 {
    text-decoration: underline white;
    }

footer{
    background:#536265;
    color: white;
}

